# Unecessary directories
###################
.idea/
bin/
lib/
share/
tensorflow/
tensorflow_pkg/
facetone/facetone/__pycache__/
facetone/foundation/__pycache__/
facetone/foundation/migrations/__pycache__/

# Weird file extensions #
###################
*.DS_Store
