tensorflow==2.8.0
opencv-python-headless
colour==0.1.5
colormath==3.0.0
matplotlib==3.3.3
scipy==1.6.0
sklearn==0.0
scikit-image==0.18.1
boto3==1.16.57
colour-science==0.3.16
packaging==21.3
numpy==1.22.2
wheel
psycopg2
psycopg2==2.8.6
Django==3.0
djangorestframework==3.13.1
Pillow==9.0.1
