option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: facetone.wsgi:application
  aws:ec2:instances:
    InstanceTypes: 't3.large'

commands:
  setvars:
    command: /opt/elasticbeanstalk/bin/get-config environment | jq -r 'to_entries | .[] | "export \(.key)=\"\(.value)\""' > /etc/profile.d/sh.local
  pip_install_mask_rcnn:
    command: "source /var/app/venv/*/bin/activate && pip install --ignore-installed git+https://$PIP_INSTALL_GITHUB_REPO_TOKEN@github.com/Addarsh/Mask_RCNN.git@93c363f4df7c111a3213ad46b210cc7ff480fabd"
    env:
      PIP_INSTALL_GITHUB_REPO_TOKEN:
        "Fn::GetOptionSetting":
          Namespace: "aws:elasticbeanstalk:application:environment"
          OptionName: PIP_INSTALL_GITHUB_REPO_TOKEN
  pip_install_facemagik:
    command: "source /var/app/venv/*/bin/activate && pip install --ignore-installed git+https://$PIP_INSTALL_GITHUB_REPO_TOKEN@github.com/Addarsh/FaceMagik.git@d22122c17f8e6aa95bdbac7f64baf2f79d1f4575"
    env:
      PIP_INSTALL_GITHUB_REPO_TOKEN:
        "Fn::GetOptionSetting":
          Namespace: "aws:elasticbeanstalk:application:environment"
          OptionName: PIP_INSTALL_GITHUB_REPO_TOKEN

packages:
  yum:
    git: []
    postgresql-devel: []
    jq: []
