Resources:
  AWSEBAutoScalingGroup:
    Metadata:
      AWS::CloudFormation::Authentication:
        S3Auth:
          type: "s3"
          buckets: ["facemagik"]
          roleName:
            "Fn::GetOptionSetting":
              Namespace: "aws:asg:launchconfiguration"
              OptionName: "IamInstanceProfile" 
              DefaultValue: "aws-elasticbeanstalk-ec2-role"
files:
    "/tmp/mask_rcnn_face_0060.h5" :
      mode: "000644"
      owner: root
      group: root
      authentication: "S3Auth"
      source: https://facemagik.s3.us-west-1.amazonaws.com/mask_rcnn_face_0060.h5
